{{ define "main" }}
    <nav class="light-blue lighten-1" role="navigation">
        <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo black-text">Splat Stats</a>
            <!-- Dropdown Structure -->
            <ul id='dropdown1' class='dropdown-content'>
                <li><a href="/two_battles?rule=all&match_type=all&stage=all&rank=21&weapon=all">All Battles</a></li>
                <li><a href="/two_salmon?special=all&stage=all&cleared=all&failreason=all">All Shifts</a></li>
                    {{/*<li><a href="/two_battles/user/{{ user.id }}">Your Battles</a></li>
                    <li><a href="/two_salmon/user/{{ user.id }}">Your Shifts</a></li>*/}}
            </ul>
            {{/* Dropdown Structure */}}
            <ul id='dropdown_accounts' class='dropdown-content'>
                {{/*
                    <li><a href="/auth/account/two_factor">Manage Two-Factor Login</a></li>
                    <li><a href="/auth/logout">Logout</a></li>
                */}}
                    <li><a href="/auth/account/login">Login</a></li>
                    <li><a href="/auth/signup">Sign Up</a></li>
            </ul>
            <ul class="right">
                <li>
                    {{/* Dropdown Trigger */}}
                    <a class='dropdown-trigger black-text' href='#' data-target='dropdown1'>Splatoon 2</a>
                </li>
                <li>
                    {{/* Dropdown Trigger */}}
                        {{/*<a class='dropdown-trigger black-text' href="#" data-target='dropdown_accounts'>{{ user.username }}</a>*/}}
                        <a class='dropdown-trigger black-text' href="#" data-target='dropdown_accounts'>User</a>
                    {{/*{% endif %}*/}}
                </li>
            </ul>
        <ul id="nav-mobile" class="sidenav">
            <li><a href="/two_battles?rule=all&match_type=all&stage=all&rank=21&weapon=all">All Battles</a></li>
            <li><a href="/two_salmon?special=all&stage=all&cleared=all&failreason=all">All Shifts</a></li>
            {{/*
                <li><a href="/two_battles/user/{{ user.id }}">Your Battles</a></li>
                <li><a href="/two_salmon/user/{{ user.id }}">Your Shifts</a></li>
                <li><a href="/auth/account/two_factor">Manage Two-Factor Login</a></li>
                <li><a href="/auth/logout">Logout</a></li>
            */}}
                <li><a href="/auth/account/login">Login</a></li>
                <li><a href="/auth/signup">Sign Up</a></li>
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
    </nav>

    <div class="container">{{template "content" .}}</div>
    {{/* Compiled and minified JavaScript */}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src='https://storage.ko-fi.com/cdn/scripts/overlay-widget.js'></script>
    <script>
    kofiWidgetOverlay.draw('cass_dlcm', {
        'type': 'floating-chat',
        'floating-chat.donateButton.text': 'Support Me',
        'floating-chat.donateButton.background-color': '#00b9fe',
        'floating-chat.donateButton.text-color': '#fff'
    });
    </script>
    <script>M.AutoInit();</script>
    {{template "aftercontent" .}}
{{end}}